body {
    background-color: rgb(237, 237, 237);
}

#canvas {
    display: block;
    width: 190px;
    height: 190px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    float:left;
}

h1{
    color: rgb(30, 30, 30);
    display: block;
    margin-left: 25%;
}

#algoritmos {
    width: 300px;
    margin-left: 100px;
    margin-top: 10px;
    float: left;
}

#listaAlgoritmos {
    list-style: none;
}

#formAlg legend {
    font-size: 14pt;
    font-weight: bold; 
}