#contenedor {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-areas: "canvas algoritmos"
                         "clear clear";
}

#canvas {
    grid-area: canvas;
}

#clear {
    grid-area: clear;

}

#algoritmos {
    grid-area: algoritmos;
}
